{_'First'}
<div n:if="$a">{_"Second"}</div>
<script>
	var test = {_'Third'|noescape};
</script>
<div n:snippet>
	{_"Fourth"|noescape}
</div>
<div n:foreach="$b as $c">
	<p data-text="{_'Long with spaces'}"></p>
</div>
<div>
	<p>{_'Another long with spaces'|noescape}</p>
</div>
{_$test}

